/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Fonts */
  body {
    font-family: "Inter", sans-serif;
  }
  
  /* Utility */
  .flex-column {
      display: flex;
      flex-direction: column;
  }
  
  .text-center {
      text-align: center;
  }
